@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* custom scrollbar for firefox */
  .sidebar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  /* custom scrollbar for chrome */

  .sidebar::-webkit-scrollbar {
    width: 0.3vw;
  }
  .sidebar::-webkit-scrollbar-thumb {
    background-color: rgb(144, 144, 144);
    border-radius: 0.8vw;
  }
  .sidebar::-webkit-scrollbar-track {
    background-color: rgba(146, 146, 146, 0.2);
  }
}
